{% extends 'base.html.twig' %}

{% block title %}Mofidier agent
{% endblock %}

{% block body %}

<style>
  
    
</style>
	<h1>Modifier agents</h1>
<div class="row justify-content-center">
<a href="{{ path('app_agent_liste') }}" class="btn btn-success" role="button">Retour à la liste des agents</a>
</div>
		{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


  
	
{% endblock %}