{% extends 'base.html.twig' %}

{% block title %}Edit Agent
{% endblock %}

{% block body %}

<style>
  
    
</style>
	<h1>Edit Agents</h1>

	{{ include('/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_agent_liste') }}">back to list</a>
  
	
{% endblock %}