{% extends 'base.html.twig' %}

{% block title %}New Agents
{% endblock %}

{% block body %}
	<h1>Create new Agents</h1>

{{ include('missions/_form.html.twig') }}
	<a href="{{ path('app_agent_liste') }}">back to list</a>
{% endblock %}