{% extends 'base.html.twig' %}

{% block title %}Modifier la mission
{% endblock %}

{% block body %}
	<h1>Modifier la mission</h1>
<div class="row justify-content-center">
<a href="{{ path('app_liste') }}" class="btn btn-dark" role="button">Retour à la liste des missions</a>
</div>
	{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}