{% extends 'base.html.twig' %}

{% block title %}Modifier la planque
{% endblock %}

{% block body %}

<style>
  
    
</style>
	<h1>Modifier la planque</h1>
<div class="row justify-content-center">
<a href="{{ path('app_planque_liste') }}" class="btn btn-dark" role="button">Retour à la liste des planques</a>
</div>
		{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	
  
	
{% endblock %}