{% extends 'base.html.twig' %}

{% block title %}Nouvelle planque
{% endblock %}

{% block body %}
	<h1>Crer une nouvelle planque</h1>
<div class="row justify-content-center">
<a href="{{ path('app_planque_liste') }}" class="btn btn-secondary" role="button">Retour à la liste des planques</a>
</div>
{{ include('/_form.html.twig') }}

{% endblock %}