{% extends 'base.html.twig' %}

{% block title %}Modifier la specialitées
{% endblock %}

{% block body %}

<style>
  
    
</style>
	<h1>Modifier la specialitées</h1>
<div class="row justify-content-center">
<a href="{{ path('app_specialite_liste') }}" class="btn btn-success" role="button">Retour à la liste des specialitées</a>
</div>
		{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

	
  
	
{% endblock %}