{% extends 'base.html.twig' %}

{% block title %}Liste des specialitées{% endblock %}

{% block body %}
<style>

    
</style>
 <h1>Liste des specialitées</h1>
 <table class="table">
        <thead>
        <tr>
        <th>Nom</th>
        <th>Actions</th>

        </tr>
            <tbody>
                {% for Specialite in Specialite %}

                <tr>
                    <th scope="row">
                   {{ Specialite.nom}}
                    </th>
                    
                    <td>
                    <a href="{{ path('app_specialite_remove', {'id': Specialite.id}) }}">Delete</a>
					<a href="{{ path('app_specialite_edit', {'id': Specialite.id}) }}">Modifier</a>
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
    <p> <a href="{{ path('app_specialite_new') }}">New</a></p>

{% endblock %}
 