{% extends 'base.html.twig' %}

{% block title %}New specialitées
{% endblock %}

{% block body %}
	<h1>Create new specialite</h1>

{{ include('/_form.html.twig') }}
	<a href="{{ path('app_specialite_liste') }}">back to list</a>
{% endblock %}