{% extends 'base.html.twig' %}

{% block title %}Edit type de planque
{% endblock %}

{% block body %}


	<h1>Modifier le type de planque</h1>

	{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
 <h4><p> <a href="{{ path('app_typeplanque_liste') }}">Retour à la liste des types de planques</a></p></h4>
	
  
	
{% endblock %}