{% extends 'base.html.twig' %}

{% block title %}Edit type de planque
{% endblock %}

{% block body %}


	<h1>Edit type de planque</h1>

	{{ include('/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_typeplanque_liste') }}">back to list</a>
  
	
{% endblock %}