{% extends 'base.html.twig' %}

{% block title %}Edit type de planque
{% endblock %}

{% block body %}


	<h1>Modifier le type de planque</h1>

	{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

<div class="row justify-content-center">
<a href="{{ path('app_typemission_liste') }}" class="btn btn-success" role="button">Retour à la liste des types de mission</a>
</div>
	
{% endblock %}