{% extends 'base.html.twig' %}

{% block title %}Liste des type de planques{% endblock %}

{% block body %}
  

 <div class="container">
  <h1>Liste des type de planques</h1>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>nom</th>
        <th>Actions</th>
        </tr>
         </thead>

            <tbody>
                {% for Typeplanque in Typeplanque %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Typeplanque.nom }}
                    </th>
                    <td>
                    <a href="{{ path('app_typeplanque_remove', {'id': Typeplanque.id}) }}">Delete</a>
					<a href="{{ path('app_typeplanque_edit', {'id': Typeplanque.id}) }}">Modifier</a>
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <h4><p> <a href="{{ path('app_typeplanque_new') }}">Crée un nouveau type de planque</a></p></h4>
{% endblock %}