{% extends 'base.html.twig' %}

{% block title %}New Planques
{% endblock %}

{% block body %}
	<h1>Create new Planques</h1>

{{ include('/_form.html.twig') }}
	<a href="{{ path('app_typeplanque_liste') }}">back to list</a>
{% endblock %}