{% extends 'base.html.twig' %}

{% block title %}New Planques
{% endblock %}

{% block body %}
	<h1>Create new Planques</h1>

{{ include('/_form.html.twig') }}
 <h4><p> <a href="{{ path('app_typeplanque_liste') }}">Retour à la liste des types de planques</a></p></h4>

{% endblock %}