{% extends 'base.html.twig' %}

{% block title %}Modifier la Cibles
{% endblock %}

{% block body %}

<style>
  
    
</style>
	<h1>Modifier la cible</h1>
<div class="row justify-content-center">
<a href="{{ path('app_cible_liste') }}" class="btn btn-success" role="button">Retour à la liste des cibles</a>
</div>
		{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

  
	
{% endblock %}