{% extends 'base.html.twig' %}

{% block title %}Modifier la nationalitées
{% endblock %}

{% block body %}

<style>
  
    
</style>
	<h1>Modifier la nationalitées</h1>
	
<div class="row justify-content-center">
<a href="{{ path('app_nationalite_liste') }}" class="btn btn-success" role="button">Retour à la liste des Nationalitées</a>
</div>
	{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


	
	
{% endblock %}