{% extends 'base.html.twig' %}

{% block title %}Liste des nationalitées{% endblock %}

{% block body %}

 
 <div class="container">
 <h1>Liste des nationalitées</h1>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
       
        <th>Nationalite</th>
        <th>Actions</th>

        </tr>
            <tbody>
                {% for Nationalite in Nationalite %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Nationalite.nom }}
                    </th>
                   <td>
                    <a href="{{ path('app_nationalite_edit', {'id': Nationalite.id}) }}" class="btn btn-dark" role="button">Modifier</a>
					<a href="{{ path('app_nationalite_remove', {'id': Nationalite.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="row justify-content-center">
       
         <a href="{{ path('app_nationalite_new') }}" class="btn btn-dark" role="button">Crée une nouvelle nationalitées</a>
    </div>
   

{% endblock %}
 


