{% extends 'base.html.twig' %}

{% block title %}Nouvelle nationalitées
{% endblock %}

{% block body %}
	<h1>Ajouter une nationalitées</h1>

{{ include('/_form.html.twig') }}
	<a href="{{ path('app_nationalite_liste') }}">back to list</a>
{% endblock %}