{% extends 'base.html.twig' %}

{% block title %}Modifier le statut mission
{% endblock %}

{% block body %}

<div class="container">
	<h1>Modifier le statut de mission</h1>
<div class="row justify-content-center">
<a href="{{ path('app_statumission_liste') }}" class="btn btn-success" role="button">Retour à la liste des statuts de mission</a>
</div>
		{{ include('/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

  
	</div>
{% endblock %}