{% extends 'base.html.twig' %}

{% block title %}Liste des statuts de mission{% endblock %}

{% block body %}

 <div class="container">
 <h1>Liste des statuts de mission</h1>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>Nom</th>
        <th>Actions</th>

        </tr>
            <tbody>
                {% for Statumission in Statumission %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Statumission.nom}}
                    </th>
                    
                    <td>
                    <a href="{{ path('app_statumission_remove', {'id': Statumission.id}) }}">Delete</a>
					<a href="{{ path('app_statumission_edit', {'id': Statumission.id}) }}">Modifier</a>
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    <p> <a href="{{ path('app_statumission_new') }}">New</a></p>

{% endblock %}
 
