{% extends 'base.html.twig' %}

{% block title %}New statutmissions
{% endblock %}

{% block body %}
	<h1>Create new statutmissions</h1>

{{ include('/_form.html.twig') }}
	<a href="{{ path('app_statumission_liste') }}">back to list</a>
{% endblock %}