{% extends 'base.html.twig' %}

{% block title %}Crer un nouveau pays
{% endblock %}

{% block body %}
	<h1>Crer un nouveau pays</h1>
<div class="row justify-content-center">
<a href="{{ path('app_pays_liste') }}" class="btn btn-success" role="button">Retour à la liste des pays</a>
</div>
{{ include('/_form.html.twig') }}

{% endblock %}