{% extends 'base.html.twig' %}

{% block title %}New Cibles
{% endblock %}

{% block body %}
	<h1>Create new Pays</h1>

{{ include('/_form.html.twig') }}
	<a href="{{ path('app_pays_liste') }}">back to list</a>
{% endblock %}