{% extends 'base.html.twig' %}

{% block title %}Liste des types de missions{% endblock %}

{% block body %}

 <div class="container">
 <h1>Liste des types de mission</h1>
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>nom</th>
        <th>Actions</th>

        </tr>
            <tbody>
                {% for Typemission in Typemission %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Typemission.nom }}
                    </th>
                   
                   
                    

                    <td>
                    <a href="{{ path('app_typemission_remove', {'id': Typemission.id}) }}">Delete</a>
					<a href="{{ path('app_typemission_edit', {'id': Typemission.id}) }}">Modifier</a>
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
      
    <p> <a href="{{ path('app_typemission_new') }}">New</a></p>

{% endblock %}
