{% extends 'base.html.twig' %}

{% block title %}Liste des types de missions{% endblock %}

{% block body %}

 <div class="container">
 <h1>Liste des types de mission</h1>
 
 <table class="table table-bordered table-striped">
        <thead>
        <tr>
        <th>nom</th>
        <th>Actions</th>

        </tr>
            <tbody>
                {% for Typemission in Typemission %}

                <tr>
                    <th scope="row justify-content-center">
                   {{ Typemission.nom }}
                    </th>
                    <td>
                     <a href="{{ path('app_typemission_edit', {'id': Typemission.id}) }}" class="btn btn-dark" role="button">Modifier</a>
                    <a href="{{ path('app_typemission_remove', {'id': Typemission.id}) }}" class="btn btn-danger" role="button">Supprimer</a>
                    
					
                    </td>
			     </tr>
                {% endfor %}
            </tbody>
        </table>
      <div class="row justify-content-center">
         
         <a href="{{ path('app_typemission_new') }}" class="btn btn-dark" role="button">Crée un nouveau type de mission</a>
    </div>
 

{% endblock %}
