{% extends 'base.html.twig' %}

{% block title %}New type de mission
{% endblock %}

{% block body %}
	<h1>Create new type de mission</h1>

{{ include('/_form.html.twig') }}
	<a href="{{ path('app_typemission_liste') }}">back to list</a>
{% endblock %}