{% extends 'base.html.twig' %}

{% block title %}Creer un type de mission
{% endblock %}

{% block body %}
	<h1>Créer un type de mission</h1>
<div class="row justify-content-center">
<a href="{{ path('app_typemission_liste') }}" class="btn btn-success" role="button">Retour à la liste des types de missions</a>
</div>
{{ include('/_form.html.twig') }}
	
	
{% endblock %}